{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": ["env", "react"]
    }
  }
}
